LSB Specification

State:
-----
Acceptable values are:
"Problem Statement"  -> Problem Statement has been formulated
"Problem Solicitation" -> The problem statement is being solicited to
                          distributions to reach agreement on the problem
                          itself, i.e. is this something that needs to be
                          solved
"Solution Proposal"  -> Solution to the problem has been proposed
"Solicitation" -> The proposed solution is being solicited to distributions
                  in an attempt to find a consensus solution.
"Accepted" -> A consensus solution has been found and the solution
              is ready for implementation.

The state should be indicated in line with the State: header

Problem Statement:
------------------

Add the problem statement that affects multiple or all distributions here.
Explain in detail how the observed problem negatively impacts ISVs or
distributions by having divergent behavior between the distributions.


(Proposed) Solution:
--------------------

Add a detailed description of the proposed solution in this section. Detailed
implementation suggestions are welcome. Be as specific as possible to provide
a good technical basis for discussion on the various distribution mailing
lists.

Solution Discussion Links:
--------------------------

Provide links to at least 3 distribution mailing lists where this topic has
been discussed.


Solution Rationale:
------------------

Provide a brief description how the documented solution was derived.


Distributions Support:
----------------------

A list of distributions that have pledged to adhere to this specification and
integrate the test into their QA suite.


Verification Test:
------------------

The list of tests that can be incorporated into distribution QA testing
frameworks.
